// Dispositivos escritorio
ion-avatar {
  margin: 5px;
  padding: 5px;
}
ion-icon {
  margin-right: 10px;
}
.title-name {
  display: none;
}
@media screen and (min-width: 768px) {
  ion-card-content {
    display: flex;
  }
  ion-card-header {
    display:inline-block
  }
}
